extends ../../template/layout.pug

block content
    script(defer src='scripts/documents.bundle.js')
    h1.SEO-Hidden
        | Документы
    include ../../sections/documents__documents/documents__documents