extends ../../template/layout.pug

block content
    script(defer src='scripts/documents.bundle.js')
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - документы органзации
    include ../../sections/documents__documents/documents__documents