section.openNews__news
    .container
        .openNews__news__pictures
            .openNews__news__picture
                .openNews__news__picture-img
                    +sourceImg('image35')
                p.openNews__news__picture__title
                    | Мир! Труд! Май!
                p.openNews__news__picture__subtitle
                    | С праздником труда, друзья!
            .openNews__news__picture
                .openNews__news__picture-img
                    +sourceImg('image35')
            .openNews__news__picture
                .openNews__news__picture-img
                    +sourceImg('image35')
        p.openNews__news__text
            | С Днем Победы!
            | <br> <br>
            | Этот праздник так дорог каждому из нас, каждой семье! Благодарим ветеранов за мирное небо над головой!
            | Сейчас праздник приобретает еще большее значение и как никогда важно изучать историю и чтить память о великом подвиге!
            | <br> <br>
            | В нашем сосновском отделении к празднованию подошли со всей ответственностью, единством и творчеством!
            | Прикрепляем фотофрагменты!
            | Благодарим коллектив сотрудников за такую красоту и настоящий праздник, созданный для подопечных с таким вниманием и любовью!
            | <br> <br>
            | Благодарим БФ "ПРЕОДОЛЕНИЕ" за подарки для наших бабушек и дедушек!