section.index__stages
    .container
        .index__stages__holder
            h2 Этапы развития организации
            p
                | На сегодняшний день АНО "Опека - она из первых некоммерческая организация в Тамбовской области, оказывающая услуги социальной помощи и сестринского ухода пожилым людям и инвалидам в отделениях сестринского ухода. С 2013 года организация начала деятельность в области палиативной медецинской помощи на стационарной основе, а с 2016 года начала осуществлять социальный уход на стационарной основе.
            .index__stages__holder__highlights
                p.index__stages__holder__highlights__highlight – Оказание  паллиативной медецинской помощи в стационарных условиях
                p.index__stages__holder__highlights__highlight – Оказание социального ухода на стационарной основе
            .swiper
                .line
                .lineToActive
                .swiper-wrapper
                    .swiper-slide
                        span 2013
                    .swiper-slide
                        span 2014
                    .swiper-slide
                        span 2015
                    .swiper-slide
                        span 2016
                    .swiper-slide
                        span 2017
                    .swiper-slide
                        span 2018
                    .swiper-slide
                        span 2019
                    .swiper-slide
                        span 2020
                    .swiper-slide
                        span 2021
                    .swiper-slide
                        span 2022



