extends ../../template/layout.pug

block content
    script(defer src='scripts/charityPrograms.bundle.js')
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - Благотворительные программы
    include ../../sections/charityPrograms__program/charityPrograms__program