section.stationary__care
    .container
        h2
            | Стационарный уход
        p.stationary__care__p
            | Автономная некоммерческая организация "Центр инновации в социально-медицинском обслуживании "ОПЕКА" (АНО ОПЕКА) является поставщиком социальных услуг с 2016 года, включена в Реестр от 01.01.2016 года.
            | <br> <br>
            | Действующий вариант реестра по ссылке:
            a(href='http://uprsoc.tmbreg.ru/reestrpsu.htm')  http://uprsoc.tmbreg.ru/reestrpsu.htm
        p.stationary__care__subp
            | Основное направление деятельности - предоставление услуг для пожилых людей и инвалидов (старше 18 лет)