.stationary__care{
  &__p{
    padding: 24px 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 85px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: 300;
    overflow-wrap: anywhere;
  }
  &__subp{
    position: relative;
    margin-left: 47px;
    &::before{
      background: rgba(52, 169, 187, 0.6);
      position: absolute;
      top:50%;
      left: -47px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      content: '';
      border-radius: 50%;
    }
  }
}