.contacts__contacts{
  &__selects{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    @media (max-width: 1000px) {
    }
    @media (max-width: 768px) {
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 10px;
    }

  }

  &__select{
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0;
    width: 270px;
    height: 270px;
    //background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: 0.1s;
    cursor: pointer;


    &:hover{
      box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.1);

    }
    &.active{
      box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.25);
    }
    img{
      transform: translateY(-20%);
    }
    p{
      position: absolute;
      top: 186px;
      font-family: 'Jost',serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;

      color: #000000;
       span {
         font-family: 'Jost',serif;
         font-style: normal;
         font-weight: 300;
         font-size: 14px;
         line-height: 20px;

         color: #000000;
       }
    }
    @media (max-width: 870px) {
      //width: 110px;
      width: 30%;
      height: 240px;
      justify-content: flex-start;
      img{
        //width: 60%;
        //position: absolute;
        //top:10%;
        //left: 50%;
        transform: translateX(0);
        margin: 10px 0 0 0;
        padding: 0 10px;
      }
      p{
        top: unset;
        position: relative;
        padding:  0 5px;
      }
    }
    @media (max-width: 380px) {
      //width: 90px;
      height: 240px;
      img{
        width: 60%;
        position: absolute;
        top:10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 ;

      }
      p{
        top: 90px;
        font-size: 12px;
        padding:  0 5px;

      }
    }
  }






  &__contact{
    &.ready{
      display: none;
    }
    &.active{
      display: block;
    }
    &__top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap:20px 10px;
      margin-top: 80px;
      @media (max-width: 1000px) {
        justify-content: center;
        margin-top: 20px;
      }
      &__workTime{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        padding: 30px 25px;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        width: fit-content;
        min-height: 120px;
        justify-content: center;
        &__block{
          display: flex;
          flex-direction: column;
          align-items: center;

          &__top{
            font-family: 'Jost',serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            /* identical to box height */
            color: #000000;
            position: relative;
            padding: 0 20px;
            &::after{
              background: rgba(52, 169, 187, 0.8);
              width: 100%;
              height: 1px;
              position: absolute;
              content: '';
              bottom: 0px;
              left: 0;
            }
          }
          &__bottom{
            font-family: 'Jost',serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;

            color: #000000;

          }
          &:nth-child(2) &__top{
              font-family: 'Jost',serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              /* identical to box height */
              color: #DC1616;
          }
          &:nth-child(3) &__top{
            font-family: 'Jost',serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;

            color: #DC1616;

          }
        }
      }
      &__phone{
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 14px 30px 14px 90px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        position: relative;
        min-height: 120px;
        width: 230px;
        flex-shrink: 0;
        &-img{
          position: absolute;
          left: 15px;
          top:50%;
          transform: translateY(-50%);
        }
        &__name{
          font-family: 'Jost',serif;
          margin-bottom: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;

          color: #000000;

        }
        &__number{

          font-family: 'Jost',serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 19px;

          color: #000000;

        }
      }
      &__links{
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        min-height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 19px 19px 11px 94px;
        gap:20px;
        &__link{
          position: relative;
          a{
            font-family: 'Jost',serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;

            color: #34A9BB;

          }
          .left{
            position: absolute;
            left: -70px;
            top:50%;
            transform: translateY(-50%);


            font-family: 'Jost',serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;

            color: #000000;

          }
        }
      }
    }
    &__address{
      margin-top: 40px;
      font-family: 'Jost',serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;

      color: #000000;

    }
    &__picture{
      margin-bottom: 10px;
    }
    &__map{
      height: 404px;
    }
    &__apparatus{
      h2{
        margin-top: 60px;
      }
      &__flex-box{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 40px 0 ;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 1000px) {
          justify-content: center;
        }
      }
      &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 338px;
        padding: 26px;
        background: #FFFFFF;
        box-shadow: 4px 4px 85px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        height: auto;
        &__top{
          font-family: 'Jost',serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          /* identical to box height */

          text-align: center;

          color: #000000;
        }
        &__bottom{
          font-family: 'Jost',serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 22px;
          text-align: center;

          color: #000000;
        }
      }
    }
  }

  margin-bottom: 20px;
}


