section.team__teammates
    .container
        h2
            | Команда
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('image3mate')
                .team__teammates__teammate__status
                    | Генеральный директор
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Лукашенко Сергей Владиславович
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2015 года
                p.team__teammates__teammate__desc
                    | Образование: Высшее, юридическое. ТГУ им. Г.Р. Державина <br> <br>
                    | Начинал в должности заместителя руководителя отделений, знает всю специфику работы изнутри, потребности, слабые и сильные стороны.
                    | Назначен на должность Генерального директора 12 декабря 2016 года.
                    | Сергей Вячеславович имеет многолетний опыт работы с различными группами населения, Коммуникабельный, внимательный и отзывчивый. Всегда старается оказать помощь и поддержку, сделать все возможное для решения возникшей задачи. Относится к работе с душой, к коллективу и подопечным с заботой.
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('adb9d7ec-ac8a-4563-9750-0aeacd3387f81mate')
                .team__teammates__teammate__status
                    | Офис - менеджер,
                    | специалист отдела кадров
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Уланова Наталия Владимировна
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2019 года
                p.team__teammates__teammate__desc
                    | Образование: Высшее, юридическое. ТГТУ <br> <br>
                    | Наталия Владимировна – грамотный, чуткий и исполнительный сотрудник. Каждому кто звонит в нашу организацию Наталья ответит на любой вопрос. Она оперативно подготавливает все необходимые документы и письма, а так же следит за всеми изменениями законодательстве.
                    | Наталья так же контролирует порядок в офисе и следить за наличеем всего необходимого.
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('image4mate')
                .team__teammates__teammate__status
                    | Заведующий отделением АНО «ОПЕКА»
                    | в с.Сосновка Мордовского района
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Абдулмажидов Юсуп Ибрагимович
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2014 года
                p.team__teammates__teammate__desc
                    | Образование: Высшее, медицинское. ДГМИ
                    |  <br> <br>
                    | Этот человек, который всегда рядом с подопечными. Он не только прекрасный доктор и руководитель, но и настоящий хозяйственник. Заботится о здоровье и комфорте подопечных. Знает все и всех в отделении, поможет, подскажет, вылечит.
                    | Юсуп Ибрагимович всю жизнь посвятил медицине и помощи людям. Свой трудовой путь медика он начал в 1982 году. В АНО «ОПЕКА» работает по совместительству. Является врачом общей практики в ТОГБУЗ «Мордовская ЦРБ»
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('deb1716c-2a38-42bb-8f40-0c11c54a482e1mate')
                .team__teammates__teammate__status
                    | Заведующая отделением АНО «ОПЕКА» в с. Иноковка 2-ая Кирсановского р-на.
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Малицкая Ольга Ивановна
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2014 года
                p.team__teammates__teammate__desc
                    |Образование: среднее профессиональное, Новосибирское училище. Бухгалтерские курсы.
                    | <br> <br>
                    |Ольга Ивановна – ответственный, внимательный, чуткий и добрый человек. Она много лет работает в организации. Среди коллектива и подопечных является настоящим лидером и поддержкой. С заботой и трепетом относится к каждому подопечному. Помогает в решении всех вопросов, делает все возможное для комфорта подопечных.
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('')
                .team__teammates__teammate__status
                    | Главный бухгалтер
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Лутохина Вера Владимировна
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2017 года
                p.team__teammates__teammate__desc
                    | Образование: Высшее, экономическое (бухгалтерский учет). МЭСИ
                    |  <br> <br>
                    |Вера Владимировна настоящий профессионал своего дела. Имеет большой опыт работы по специальности - с 2001 года. В нашей организации отвечает за финансы. Она всегда своевременно проводит платежи, особенно зарплаты, за что очень любима среди всех сотрудников. Занимается отчетностносью финансов всей организации
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('d843e910-4e31-4e0a-ba29-a6d0dee33e691mate')
                .team__teammates__teammate__status
                    | Бухгалтер
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Зинченко Екатерина Петровна
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2020 года
                p.team__teammates__teammate__desc
                    | Образование: высшее, экономическое (финансы и кредит). РосНОУ, Тамбовский филиал
                    |  <br> <br>
                    | В организации работает недавно, но сразу зарекомендовала себя, как грамотный специалист.
                    | Екатерина Петровна - исполнительна, внимательная к деталям и коммуникабельна. Учитывает и фиксирует все перемещение грузов, а так же хранит и систематизирует все документы. Занимается инвентаризацией и ведет первичный учет документации.
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('Eavql6BL4dojiF53RFwxfiuVoMt62V3mb2T759c59-4meQxrUdaG0ESr8CiDczuZkABSog1mate')
                .team__teammates__teammate__status
                    | Водитель
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Жмыров Олег Сергеевич
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2014 года
                p.team__teammates__teammate__desc
                    | Образование: средне – профессиональное. ГБОУ СПО «Луховицкий Авиационный техникум» (техник) <br> <br>
                    | Олег Сергеевич – одним из первых пришел в нашу организацию. Он исполнителен, внимателен и пунктуален. Аккуратен на дорогах и при обращении с техникой, знает как починить машину в любых условиях и обстоятельствах. Всегда в срок доставляет груз и выстроен оптимальньный маршрут лучше чем любой навигатор.
                    | <br> <br>
                    | Имеет водительские категории «B» и «C»
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('06efeb02-18ca-45a2-b3fc-2de4920aa4de1mate')
                .team__teammates__teammate__status
                    | Культуролог
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Кудинова Кристина Игоревна
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2018 года
                p.team__teammates__teammate__desc
                    | Образование:среднее  — профессиональное, ФГОУ СПО
                    |  <br> <br>
                    |Кристина Игоревна — коммуникабельный и отзывчивый сотрудник. Она находит подход к каждому  подопечному и с нетерпеньем ждет новые проект, что бы реализовывать их вместне с бабушками и дедушками. Знает и понимает пожелания всех подопечных, а так же передает нам их просьбы. Кристина Игоревна так же помогает подопечным связаться с родственниками по видио-связи или просто позвонить.
                .team__teammates__teammate__showMore-btn
                    | Читать больше...
        .team__teammates__teammate
            .team__teammates__teammate__left-side
                .team__teammates__teammate__img
                    +sourceImg('')
                .team__teammates__teammate__status
                    | Культуролог
            .team__teammates__teammate__right-side
                .team__teammates__teammate__name
                    | Мякинина Ольга Петровна
                .team__teammates__teammate__work
                    | В АНО «ОПЕКА» работает с 2015 года
                p.team__teammates__teammate__desc
                    | Образование::среднее  — профессиональное, Тамбововское кооперативное профтехучилище
                    | <br> <br>
                    | Ольга Петровна – это профессионал своего дела. Вместе с подопечными она отмечает всевозможные праздники и мероприятия, устраивает пикники и тематические мероприятия. Вместе с подопечными ведет еженедельно стенгазету. Она занимается с бабушками и дедушками различными творческими направлениями (лепка, рисование, апликация и многое другое).
                .team__teammates__teammate__showMore-btn
                    | Читать больше...