extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - команда организации
    script(defer src='scripts/team.bundle.js')
    include ../../sections/team__temmates/team__teammates