extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - Стационарный уход
    include ../../sections/stationary__care/stationary__care
    include ../../sections/stationary__doted/stationary__doted
    include ../../sections/stationary__logistics/stationary__logistics
    include ../../sections/stationary__forRegistration/stationary__forRegistration
    include ../../sections/stationary__calculation/stationary__calculation
    include ../../sections/stationary__descriptions/stationary__descriptions
    include ../../sections/stationary__documents/stationary__documents