extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | Стационарный уход
    include ../../sections/stationary__care/stationary__care
    include ../../sections/stationary__provide/stationary__provide
    include ../../sections/stationary__logistics/stationary__logistics
    include ../../sections/stationary__calculation/stationary__calculation
    include ../../sections/stationary__documents/stationary__documents