.helpNow__section__content-1
    p.M-dotedText
        | Центр социальной помощи «ОПЕКА» вместе с Вами помогает одиноким пожилым людям и инвалидам
    p.simpleText
        | Нам важна любая помощь — это может быть денежное пожертвование, материальная помощь, волонтерство или спонсорство определенных направлений деятельности.
        | <br> <br>
        | Если Вы хотите стать официальным спонсором одного или нескольких направлений деятельности центра «ОПЕКА» , пожалуйста, сообщите нам об этом на ano.opeka@gmail.com или по телефону (4752) 71-11-73.
        | Любой из нас может сделать подарок одиноким пожилым гражданам, находящимся в отделении сестринского ухода, так и одиноким, проживающим по соседству с Вами!
        | Нам известны их нужды и мы обеспечим их уют вместе с Вами.
        | <br> <br>
        | Дорогие друзья! Все указанные ниже позиции всегда актуальны. Искренне благодарны Вам за поддержку!
    p.M-dotedText
        | Изделия медицинского назначения
    p.simpleText
        | Перевязочные материалы;
        | Мочеприемники прикроватные;
        | Контейнеры 500 мл;
        | Шпатели одноразовые стерильные, и нестерильные;
        | Перчатки нитриловые N150 в упаковке, размеры S, M, L;
        | Фартуки непромокаемые;
        | Тест-полоски к глюкометру (аккучек актив);
        | Тонометры;
        | Электронные градусники.
    p.M-dotedText
        | Гигиена
    p.simpleText
        | Мочалки мягкие;
        | Станки одноразовые и помазки для бритья, гели и бальзамы до и после бритья;
        | Памперсы для взрослых;
        | Одноразовые впитывающие пеленки 60×90 см;
        | Гель для массажа Menalind (200 мл);
        | Помада гигиеническая;
        | Влажные салфетки для ухода за лежачими больными;
        | Ватные палочки;
        | Спрей «Октенисепт» для обработки кожи;
        | Шампуни, кремы, зубные пасты;
        | Щетки и приспособления для чистки языка;
        | Туалетная бумага (мягкая);
        | Одноразовые полотенца;
        | Гель для мытья лежачих больных.
    p.M-dotedText
        | Бытовая химия
    p.simpleText
        | Domestos и другие моющие/чистящие средства для ванных и туалетных комнат;
        | Жидкое мыло;
        | Стиральный порошок для машин-автоматов.
    p.M-dotedText
        |Продукты питания
    p.simpleText
        | Кофейный напиток, какао;
        | Чай;
        | Сахар;
        | Сладости, сухофрукты.
    p.M-dotedText
        | Другие вещи
    p.simpleText
        | Постельное белье;
        | Полотенца;
        | Сорочки женские;
        | Расчески;
        | Пластиковые контейнеры с герметичной крышкой 400-500 мл;
        | Прикроватные коврики на резиновой основе;
        | Носки х/б, чулки х/б, колготки х/б;
        | Халаты женские;
        | Майки мужские;
        | Мужское нижнее белье;
        | Одеяла, теплые пледы;
        | Тапочки;
        | Канцелярские товары (бумага, ручки).

