section.MTP__pictures
    .container
        +MTP__pictures__card('image231MTP2_1','2321321MTP2_1','asdas1MTP2_1')
            | Техническое обеспечение
        +MTP__pictures__card('image30MTP2_1','image32MTP2_1','asdas3MTP2_1')
            | Одна из комнат подопечных
        +MTP__pictures__card('IMG_53641MTP2_3','IMG_54121MTP2_3','IMG_54091MTP2_3')
            | Вход и прилегающая территория отделения
        +MTP__pictures__card('image33MTP2_4','34MTP2_4','23125MTP2_4')
            | Столовая и кухня
        +MTP__pictures__card('IMG_54021MTP2_5','IMG_54001MTP2_5','asdas2MTP2_5')
            | Комната отдыха