mixin nav(roots)
    -
        if (!roots)
            roots = [
                {
                    name: 'О нас',
                    url: 'index',
                    additionalItems:[
                        {
                            name: 'Команда',
                            url: 'team',
                        },
                    ]
                },
                {
                    name: 'Стационарный уход',
                    url: 'stationary',
                    additionalItems: [
                        {
                            name: 'Тарифы',
                            url: '#',
                        },
                        {
                            name: 'Расчёт стоимости <br> прибывания',
                            url: '#',
                        },
                    ]
                },
                {
                    name: 'Новости',
                    url: 'news',
                    additionalItems: [
                        {
                            name: 'Благотворительные программы',
                            url: "charityPrograms",
                        },
                    ]
                },
                {
                    name: 'Контакты',
                    url: '#',
                    additionalItems: [
                        {
                            name: 'Реквизиты',
                            url: '#',
                        },
                    ]
                },
                {
                    name: 'Документы',
                    url: '#',
                    additionalItems: [
                        {
                            name: 'Отчёты',
                            url: '#',
                        },
                    ]
                },
            ]
    nav(class!=attributes.class)
        ul
            each root in roots
                li
                    a(href=root.url ? root.url : '#')= root.name
                    ul.NAV__additionalItems
                        each item in root.additionalItems
                            li
                                a(href=item.url ? item.url : '#')!= item.name