extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | Тамбовская область, Кирсановский район, село Иноковка 2-ая, ул. Верхняя Луговка, дом № 14 "В"
    include ../../sections/MTP2__top/MTP__top
    include ../../sections/MTP2__pictures/MTP__pictures