extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - реквизиты организации
    script(defer src='scripts/requisites.bundle.js')
    include ../../sections/requisites__requisites/requisites__requisites