section.MTP__top
    .container
        h2
            | Материально-техническое обеспечение
        p.MTP__top__dotedText.M-dotedText
            | Тамбовская область, Мордовский район, село Сосновка, ул. Трудовая, дом № 3
        .MTP__top__img-placeholder
            +sourceImg('5454541house')