section.stationary__doted
    .container
        p.M-dotedText
            | Получателем социальных услуг в стационарной форме может стать:
            | Пожилой человек или инвалид (от 18 лет)
        p.M-dotedText
            |  Получателю социальных услуг предоставляются следующие виды социальных услуг в стационарной форме социального обслуживания:
        p.stationary__doted__text__inside
            | 1) социально-бытовые, направленные на поддержание жизнедеятельности получателей социальных услуг в быту;
            | <br><br>
            | 2) социально-медицинские, направленные на поддержание и сохранение здоровья получателей социальных услуг путем организации ухода, оказания содействия в проведении оздоровительных мероприятий, систематического наблюдения для выявления отклонений в состоянии здоровья;
            | <br><br>
            | 3) социально-психологические, предусматривающие оказание помощи в коррекции психологического состояния получателей социальных услуг для адаптации в социальной среде, в том числе оказание психологической помощи анонимно с использованием телефона доверия;
            |<br><br>
            | 4) социально-педагогические, направленные на профилактику отклонений в поведении и развитии личности получателей социальных услуг, формирование у них позитивных интересов (в том числе в сфере досуга), организацию их досуга, оказание помощи семье в воспитании детей;
            | <br><br>
            | 5) социально-трудовые, направленные на оказание помощи в трудоустройстве и в решении других проблем, связанных с трудовой адаптацией;
            | <br><br>
            | 6) социально-правовые, направленные на оказание помощи в получении юридических услуг, в том числе бесплатно, в защите прав и законных интересов получателей социальных услуг;
            | <br><br>
            | 7) услуги в целях повышения коммуникативного потенциала получателей социальных услуг, имеющих ограничения жизнедеятельности, в том числе детей-инвалидов.
