section.MTP__pictures
    .container
        +MTP__pictures__card('image14MTP_1','IMG_53521MTP_1','IMG_53541MTP_1')
            | Вход и прилегающая территория отделения
        +MTP__pictures__card('IMG_53431MTP_2','IMG_53482MTP_2','IMG_53502MTP_2')
            | Столовая и кухня
        +MTP__pictures__card('imageasda3MTP_3','121MTP_3','image25MTP_3')
            | Комната отдыха
        +MTP__pictures__card('image16MTP_4','image26MTP_4','IMG_53351MTP_4')
            | Одна из комнат подопечных
        +MTP__pictures__card('image28MTP_5','image29MTP_5','213123MTP_5')
            | Техническое обеспечение