extends ../../template/layout.pug

block content
    script(defer src='scripts/index.bundle.js')
    include ../../sections/index__mission/index__mission
    include ../../sections/index__stages/index__stages