section.charityPrograms__program
    .container
        h2
            | Благотоврительные программы
        .charityPrograms__program__selects
            .charityPrograms__program__select.active
                | ПРОЕКТ "РАДОСТЬ - ЛЕКАРСТВО ОТ СТАРОСТИ"
            .charityPrograms__program__select
                | ПРОГРАММА «ДАРИМ ПРАЗДНИК ПОДОПЕЧНЫМ»
            .charityPrograms__program__select
                | ПРОГРАММА «ДОCТОЙНАЯ СТАРОСТЬ»
            .charityPrograms__program__select
                | ПРОГРАММА «ПСИХОЛОГИЯ В ПОМОЩЬ ЗДОРОВЬЮ И ДОЛГОЛЕТИЮ»
            .charityPrograms__program__select
                | ПРОГРАММА «БЛАГОТВОРИТЕЛЬНЫЙ ТУРНИР ПО ЛАЗЕРТАГУ»
            .charityPrograms__program__select
                | Покровская
        .charityPrograms__program__desc-holder
            .charityPrograms__program__desc.active
                .M-dotedText
                    | ПРОЕКТ "РАДОСТЬ - ЛЕКАРСТВО ОТ СТАРОСТИ" # 2
                p.charityPrograms__program__desc__text
                    | Проект разработан для подопечных, проживающих в отделениях сестринского ухода. На данный момент отделения сестринского ухода закрыты для посещения, в связи с этим нам пришлось столкнуться с рядом целей и задач :
                    | <br> <br>
                    | -сохраним общение с близкими и волонтерами не смотря на установленный режим посещения;
                    | -разнообразим досуг бабушек и дедушек, внедряя новые развивающие секции.
                    | <br> <br> <br>
                    | Так как посещение отделений запрещено мы будем развивать и популяризировать онлайн занятие для пожилых людей проживающих в отделениях. Это актуально за счет безопасного общения дистанционно и дарит возможность общения с близкими.
                    | <br> <br>
                    | По результатам работы психолога, который был реализован в рамках проекта "ПСИХОЛОГИЯ В ПОМОЩЬ ЗДОРОВЬЮ И ДОЛГОЛЕТИЮ" им был произведен анализ и формирован список потребностей подопечных. Психолог (реализованный в рамках данного проекта) сделает вывод, что проживающим в отделениях не хватает более разнообразного досуга (уроки по рисованию, лепке и многому другому), общения с родственниками и волонтерами.
                    | <br> <br>
                    | Для решения данных задач формируются группы по следующим направлениям:
                    | группа по занятию рисованием в формате онлайн;
                    | группа по занятию настольными играми в формате онлайн;
                    | группа по занятию лепкой в формате онлайн;
                    | группа по чтению книг в текстовом и аудио формате, просмотр фильмов или концертов онлайн;
                    | группа по изучению компьютерных технологий (будут привлечены все подопечные)
                    | <br> <br> <br>
                    |
                    | Культуролог проходит курс по повышению квалификации, способствуя более грамотному подходу к реализации проекта. Данный сотрудник осуществляет помощь во время проведения мастер-классов, присутствуя в отделениях лично, а так же занимать с ними дополнительно:
                    | <br> <br>
                    | Онлайн специалисты будут проводить занятия по видео-связи;
                    | IT-специалист необходим для слежения за стабильным подключением техники и работой всего необходимого для онлайн коммуникаций;
                    | Менеджер найдет специалистов, которые будут учить подопечных развиваться в вышеперечисленных направлениях;
                    | Культуролог проведет опрос среди подопечных, чтобы понять кто конкретно хочет заниматься в той или иной группе, после полученных данных культуролог передает информацию менеджеру. Он составляет удобное для всех расписание (с учетом того, если один человек захочет прибывать в нескольких группах сразу) и согласует со специалистами.
                    | <br> <br> <br>
                    |
                    | В ходе проведения данных мероприятий бабушек и дедушек будут обучать компьютерной грамотности для онлайн-связи с близкими, волонтерами и друзьями, так как общение с людьми необходимо для любого человека. Во время проекта будет осуществлять связь с различным НКО, входе которой мы будем обмениваться опытом, узнавать о новых акциях и проектах и осуществлять различную взаимопомощь.
                    | <br> <br>
                    | Для реализации проекта приобретено:
                    | материалы для рисования;
                    | настольные игры;
                    | материалы для лепки;
                    | подписки на онлайн сервисы для прочтения книг, просмотров фильмов или концертов;
                    | оборудование для онлайн коммуникаций.
                .charityPrograms__program__desc__slider
                    .charityPrograms__program__swiper-button-prev.swiper-button
                        +sourceImg('Polygon9arrows')
                    .charityPrograms__program__swiper-button-next.swiper-button
                        +sourceImg('Polygon9arrows-1')
                    .charityPrograms__program__desc__slider__swiper.swiper
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
            .charityPrograms__program__desc
                .M-dotedText
                    | ПРОЕКТ "РАДОСТЬ - ЛЕКАРСТВО ОТ СТАРОСТИ"
                p.charityPrograms__program__desc__text
                    | Проект разработан для подопечных, проживающих в отделениях сестринского ухода. На данный момент отделения сестринского ухода закрыты для посещения, в связи с этим нам пришлось столкнуться с рядом целей и задач :
                    | <br> <br>
                    | -сохраним общение с близкими и волонтерами не смотря на установленный режим посещения;
                    | -разнообразим досуг бабушек и дедушек, внедряя новые развивающие секции.
                    | <br> <br> <br>
                    | Так как посещение отделений запрещено мы будем развивать и популяризировать онлайн занятие для пожилых людей проживающих в отделениях. Это актуально за счет безопасного общения дистанционно и дарит возможность общения с близкими.
                    | <br> <br>
                    | По результатам работы психолога, который был реализован в рамках проекта "ПСИХОЛОГИЯ В ПОМОЩЬ ЗДОРОВЬЮ И ДОЛГОЛЕТИЮ" им был произведен анализ и формирован список потребностей подопечных. Психолог (реализованный в рамках данного проекта) сделает вывод, что проживающим в отделениях не хватает более разнообразного досуга (уроки по рисованию, лепке и многому другому), общения с родственниками и волонтерами.
                    | <br> <br>
                    | Для решения данных задач формируются группы по следующим направлениям:
                    | группа по занятию рисованием в формате онлайн;
                    | группа по занятию настольными играми в формате онлайн;
                    | группа по занятию лепкой в формате онлайн;
                    | группа по чтению книг в текстовом и аудио формате, просмотр фильмов или концертов онлайн;
                    | группа по изучению компьютерных технологий (будут привлечены все подопечные)
                    | <br> <br> <br>
                    |
                    | Культуролог проходит курс по повышению квалификации, способствуя более грамотному подходу к реализации проекта. Данный сотрудник осуществляет помощь во время проведения мастер-классов, присутствуя в отделениях лично, а так же занимать с ними дополнительно:
                    | <br> <br>
                    | Онлайн специалисты будут проводить занятия по видео-связи;
                    | IT-специалист необходим для слежения за стабильным подключением техники и работой всего необходимого для онлайн коммуникаций;
                    | Менеджер найдет специалистов, которые будут учить подопечных развиваться в вышеперечисленных направлениях;
                    | Культуролог проведет опрос среди подопечных, чтобы понять кто конкретно хочет заниматься в той или иной группе, после полученных данных культуролог передает информацию менеджеру. Он составляет удобное для всех расписание (с учетом того, если один человек захочет прибывать в нескольких группах сразу) и согласует со специалистами.
                    | <br> <br> <br>
                    |
                    | В ходе проведения данных мероприятий бабушек и дедушек будут обучать компьютерной грамотности для онлайн-связи с близкими, волонтерами и друзьями, так как общение с людьми необходимо для любого человека. Во время проекта будет осуществлять связь с различным НКО, входе которой мы будем обмениваться опытом, узнавать о новых акциях и проектах и осуществлять различную взаимопомощь.
                    | <br> <br>
                    | Для реализации проекта приобретено:
                    | материалы для рисования;
                    | настольные игры;
                    | материалы для лепки;
                    | подписки на онлайн сервисы для прочтения книг, просмотров фильмов или концертов;
                    | оборудование для онлайн коммуникаций.
                .charityPrograms__program__desc__slider
                    .charityPrograms__program__swiper-button-prev.swiper-button
                        +sourceImg('Polygon9arrows')
                    .charityPrograms__program__swiper-button-next.swiper-button
                        +sourceImg('Polygon9arrows-1')
                    .charityPrograms__program__desc__slider__swiper.swiper
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!
                            .swiper-slide
                                .swiper-slide__picture
                                    +sourceImg('image23234')
                                .swiper-slide__title
                                    | С Днем Победы!
                                .swiper-slide__sub-title
                                    | Этот праздник так дорог каждому из нас, каждой семье!