extends ../../template/layout.pug

block content
    script(defer src='scripts/helpNow.bundle.js')
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - Помочь сейчас
    include ../../sections/helpNow__section/helpNow__section