extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - Отчёты организации
    script(defer src='scripts/reports.bundle.js')
    include ../../sections/reports__reports/reports__reports