section.stationary__logistics
    .container
        h2
            | Материально-техническое обеспечение
        .stationary__logistics__house
            .stationary__logistics__house__location
                include images/location.svg
                | Тамбовская область, Мордовский район, село Сосновка, ул. Трудовая, дом № 3
            .stationary__logistics__house__img
                +sourceImg('5454541house')
            .stationary__logistics__house__bottom
                .stationary__logistics__house__status
                    | Количество койко мест - 37 <br>
                    | Свободных мест - 0
                a(href="MTP").stationary__logistics__house__photos
                    | Посмотреть фото
        .stationary__logistics__house
            .stationary__logistics__house__location
                include images/location.svg
                | Тамбовская область, Мордовский район, село Сосновка, ул. Трудовая, дом № 3
            .stationary__logistics__house__img
                +sourceImg('IMG_53671house')
            .stationary__logistics__house__bottom
                .stationary__logistics__house__status
                    | Количество койко мест - 37 <br>
                    | Свободных мест - 0
                a(href='MTP2').stationary__logistics__house__photos
                    | Посмотреть фото