section.index__news
    .container
        h2
            | Новости
    .container
        .index__news__swiper.swiper
            .swiper-wrapper
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
                a(href='openNews').swiper-slide
                    .swiper-slide__picture
                        +sourceImg('image23234')
                    .swiper-slide__title
                        | С Днем Победы!
                    .swiper-slide__sub-title
                        | Этот праздник так дорог каждому из нас, каждой семье!
        .index__news__swiper-button-prev.swiper-button
            +sourceImg('Polygon9arrows')
        .index__news__swiper-button-next.swiper-button
            +sourceImg('Polygon9arrows-1')