section.news__news
    .container
        h2
            | Новости
        .news__news__categories
            p.M-dotedText
                | Выбирите категорию новостей:
            .news__news__categories__holder
                .news__news__categories__category.active
                    .news__news__categories__category__name
                        | Мероприятия
                    .news__news__categories__category__picture
                        +sourceImg('3news__sv')
                .news__news__categories__category
                    .news__news__categories__category__name
                        | Благотворительные акции
                    .news__news__categories__category__picture
                        +sourceImg('1news__sv')
                .news__news__categories__category
                    .news__news__categories__category__name
                        | Проекты
                    .news__news__categories__category__picture
                        +sourceImg('4news__sv')
                .news__news__categories__category
                    .news__news__categories__category__name
                        | Обновление
                    .news__news__categories__category__picture
                        +sourceImg('2news__sv')
        .news__news__swiper-holder
            .news__news__swiper.swiper
                .swiper-wrapper
                    .swiper-slide
                        .swiper-slide__picture
                            +sourceImg('image23234')
                        .swiper-slide__title
                            | С Днем Победы!
                        .swiper-slide__sub-title
                            | Этот праздник так дорог каждому из нас, каждой семье!
                    .swiper-slide
                        .swiper-slide__picture
                            +sourceImg('image23234')
                        .swiper-slide__title
                            | С Днем Победы!
                        .swiper-slide__sub-title
                            | Этот праздник так дорог каждому из нас, каждой семье!
                    .swiper-slide
                        .swiper-slide__picture
                            +sourceImg('image23234')
                        .swiper-slide__title
                            | С Днем Победы!
                        .swiper-slide__sub-title
                            | Этот праздник так дорог каждому из нас, каждой семье!
                    .swiper-slide
                        .swiper-slide__picture
                            +sourceImg('image23234')
                        .swiper-slide__title
                            | С Днем Победы!
                        .swiper-slide__sub-title
                            | Этот праздник так дорог каждому из нас, каждой семье!
                    .swiper-slide
                        .swiper-slide__picture
                            +sourceImg('image23234')
                        .swiper-slide__title
                            | С Днем Победы!
                        .swiper-slide__sub-title
                            | Этот праздник так дорог каждому из нас, каждой семье!
                    .swiper-slide
                        .swiper-slide__picture
                            +sourceImg('image23234')
                        .swiper-slide__title
                            | С Днем Победы!
                        .swiper-slide__sub-title
                            | Этот праздник так дорог каждому из нас, каждой семье!
            .news__news__swiper-button-prev.swiper-button
                +sourceImg('Polygon9arrows')
            .news__news__swiper-button-next.swiper-button
                +sourceImg('Polygon9arrows-1')
