extends ../../template/layout.pug

block content
    script(defer src='scripts/news.bundle.js')
    h1.SEO-Hidden
        | Новости
    include ../../sections/news__news/news__news
    include ../../sections/news__MM/news__MM