section.stationary__documents
    .container
        h2
            | Перечень документов, необходимых для поступления в оделение
        ul.stationary__documents__list
            li
                | Медицинская справка
            li
                | Заявление
            li
                | Справка об инвалидности (если есть)
            li
                | Паспорт
            li
                | Справка о составе семьи или выписка из домовой книги
            li
                | СНИЛС
            li
                | Cправка о наличии льгот(если есть)
            li
                | Cправка из ВТЭК(если есть)
            li
                | Отрицательный тест на Covid-19 (период действия 3 дня)
            li
                | Справка о размере получаемой пенсии(за год)
        ul.stationary__documents__contraindications
            h3 Противопоказаниями для направления  в отделения сестринского ухода являются:
            li Активные формы туберкулеза;
            li Острые психозы;
            li Острые инфекционные заболевания;
            li Венерические заболевания;
            li Состояния и заболевания, требующие госпитализации на профильные койки круглосуточного стационара ЛПУ или в отделение реанимации и интенсивной терапии ЛПУ;
            li 4-я (терминальная) клиническая группа онкологических заболеваний, требующая адекватного обезболивания, в том числе с введением сильнодействующих, психотропных, наркотических средств.