section.stationary__descriptions
    .container
        .stationary__descriptions__left
            b.stationary__descriptions__left__top
                | Управление социальной защиты и семейной политики Тамбовской области
            .stationary__descriptions__left__middle
                | Адрес: г. Тамбов, ул. Московская 27 «А»
                | Время работы: с 8.30 до 17.30
                | Контактные телефоны: +7 4752 79-16-02,
                | +7 4752 79-16-93
            .stationary__descriptions__left__bottom
                | Сайт:
                a(href='http://uprsoc.tmbreg.ru')
                    |  http://uprsoc.tmbreg.ru
        .stationary__descriptions__right
            p.simpleText
                | Размер ежемесячной платы за предоставление социальных услуг в стационарной форме социального обслуживания рассчитывается на основе тарифов на социальные услуги, но не может превышать 75 процентов среднедушевого дохода получателя социальной услуги, рассчитанного в соответствии с частью 4 статьи 31 Федерального закона