sections.stationary__calculation
    .container
        h2
            |  Расчет стоимости услуг
        .stationary__calculation__dotedText
            | Расчет производится на основании необходимых услуг, предварительно согласовывается.
        .stationary__calculation__calculator
            p
                | Стоимость минимального набора услуг составляет 17 820,90 руб./мес.
                | Максимальная стоимость всех оказываемых услуг составляет 23 146,65 руб./мес.
                | <br> <br>
                | *Вы можете расчитать примерную стоимость услуг с помощью специального калькулятора
            a(href='#')
                include images/calculator.svg
        .stationary__calculation__dotedText
            | Возможно субсидирование при оформлении проживания.
        .stationary__calculation__flex-container
            .stationary__calculation__blue-card
                p
                    | Управление социальной защиты и семейной политики Тамбовской области
                p
                    | Адрес: г. Тамбов, ул. Московская 27 «А»
                    | Время работы: с 8.30 до 17.30
                    | Контактные телефоны: +7 4752 79-16-02,
                    | +7 4752 79-16-93
                p
                    | Сайт:
                    a(href='http://uprsoc.tmbreg.ru')  http://uprsoc.tmbreg.ru
            .stationary__calculation__right-side
                p
                    | Для этого необходимо обратиться в Управление социальной защиты и семейной политики Тамбовской области для оформления индивидуальной программы
                    | <br> <br>
                    | При оформлении индивидуальной программы от социальной защиты, сумма за проживание меняется в зависимости от размера среднего душевого дохода, от которой взимается определенный процент, но не более 75%, остальное доплачивает Управление социальной защиты и семейной политики по Тамбовской области.


