sections.stationary__calculation
    .container
        h2
            |  Расчет стоимости услуг
        p.M-dotedText
            | Стоимость минимального набора услуг составляет 17 820,90 руб./мес.
            | Максимальная стоимость всех оказываемых услуг составляет 23 146,65 руб./мес.
            span.subDoted
                | *Вы можете расчитать примерную стоимость услуг с помощью специального калькулятора
        p.M-dotedText
            |Порядок утверждения тарифов на социальные услуги на основании подушевых нормативов финансирования социальных услуг устанавливается в соответствии с пунктом 11 статьи 8 Федерального закона.
            <br>
            a(href='calculator')
                | Тарифы социальных услуг
        a(href='calculator').stationary__calculation__link
            include images/calculator.svg
