extends ../../template/layout.pug

block content
    script(defer src='scripts/calculator.bundle.js')
    h1.SEO-Hidden
        | "ОПЕКА"- Центр Социальной Помощи - расчёт стоимости прибывания
    include ../../sections/calculator__calculator/calculator__calculator