section.requisites__requisites
    .container
        h2
            | Реквизиты
        .M-dotedText
            | Выбирите банк:
        .requisites__requisites__selects
            .requisites__requisites__select
                +sourceImg('sber')
            .requisites__requisites__select
                +sourceImg('avangard')
            .requisites__requisites__select
                +sourceImg('BankOpen')
            .requisites__requisites__select
                +sourceImg('image56')
        .requisites__requisites__holder
            .requisites__requisites__card
                p.requisites__requisites__card__title
                    | Автономная некоммерческая организация <br>
                    | «Центр инновации в социально-медицинском обслуживании «Опека»
                p.requisites__requisites__card__subtitle
                    | На счёт ПАО «Сбербанк»
                .requisites__requisites__card__flex
                    p.requisites__requisites__card__left-side
                        | ИНН 6829911535 / КПП 682901001 <br> <br>
                        |
                        | Расчетный счет: № 40703810361000000112 <br> <br>
                        |
                        | Банк получателя: ПАО Сбербанк Тамбовского отделения №8594 <br> <br>
                        |
                        | БИК: 046850649 <br><br>
                        |
                        | Корр.счет: 30101810800000000649
                    p.requisites__requisites__card__right-side
                        | ОГРН: 1136800000853 <br> <br>
                        |
                        | ОКАТО: 68401368000 <br> <br>
                        |
                        | ОКПО: 12406821 <br> <br>
                        |
                        | ОКВЕД: 85.32
            .requisites__requisites__card
                p.requisites__requisites__card__title
                    | Автономная некоммерческая организация <br>
                    | «Центр инновации в социально-медицинском обслуживании «Опека»
                p.requisites__requisites__card__subtitle
                    | На счёт ПАО АКБ «Авангард»
                .requisites__requisites__card__flex
                    p.requisites__requisites__card__left-side
                        | ИНН 6829911535 / КПП 682901001 <br> <br>
                        |
                        | Расчетный счет: № 40703810326100001081 <br> <br>
                        |
                        | Банк получателя: ОАО АКБ «Авангард» <br> <br>
                        |
                        | БИК: 044525201 <br><br>
                        |
                        | Корр.счет: 30101810000000000201
                    p.requisites__requisites__card__right-side
                        | ОГРН: 1136800000853 <br> <br>
                        |
                        | ОКАТО: 68401368000 <br> <br>
                        |
                        | ОКПО: 12406821 <br> <br>
                        |
                        | ОКВЕД: 85.32
            .requisites__requisites__card
                p.requisites__requisites__card__title
                    | Автономная некоммерческая организация <br>
                    | «Центр инновации в социально-медицинском обслуживании «Опека»
                p.requisites__requisites__card__subtitle
                    | На счёт ПАО «ФК» Открытие
                .requisites__requisites__card__flex
                    p.requisites__requisites__card__left-side
                        | ИНН 6829911535 / КПП 682901001 <br> <br>
                        |
                        | Расчетный счет: № 40703810405320000003 <br> <br>
                        |
                        | Банк получателя: Филиал центральный ПАО Банка «ФК» Открытие В ГУ Банка России по ЦФО <br> <br>
                        |
                        | БИК: 044525297 <br><br>
                        |
                        | Корр.счет: 30101810945250000297
                    p.requisites__requisites__card__right-side
                        | ОГРН: 1136800000853 <br> <br>
                        |
                        | ОКАТО: 68401368000 <br> <br>
                        |
                        | ОКПО: 12406821 <br> <br>
                        |
                        | ОКВЕД: 85.32
            .requisites__requisites__card
                p.requisites__requisites__card__title
                    | Автономная некоммерческая организация <br>
                    | «Центр инновации в социально-медицинском обслуживании «Опека»
                p.requisites__requisites__card__subtitle
                    | На счёт АО «Альфа-Банк»
                .requisites__requisites__card__flex
                    p.requisites__requisites__card__left-side
                        | ИНН 6829911535 / КПП 682901001 <br> <br>
                        |
                        | Расчетный счет: № 40703810001110000003 <br> <br>
                        |
                        | Банк получателя: АО «Альфа-Банк» <br> <br>
                        |
                        | БИК: 044525593 <br><br>
                        |
                        | Корр.счет: 30101810200000000593
                    p.requisites__requisites__card__right-side
                        | ОГРН: 1136800000853 <br> <br>
                        |
                        | ОКАТО: 68401368000 <br> <br>
                        |
                        | ОКПО: 12406821 <br> <br>
                        |
                        | ОКВЕД: 85.32

