section.reports__reports
    .container
        h2
            | Отчёты
        .reports__reports__flex
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2021
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2020
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2019
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2018
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2017
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2016
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2015
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002
            .reports__reports__card
                .reports__reports__card__outside
                    .reports__reports__card__outside__img
                        +sourceImg('ppp')
                    p.reports__reports__card__outside__date
                        | 2014
                .reports__reports__card__inside
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 001
                    a(href='#').reports__reports__card__inside__form
                        .reports__reports__card__inside__form__img
                            +sourceImg('form')
                        p.reports__reports__card__inside__form__title
                            | Форма 002

