extends ../../template/layout.pug

block content
    h1.SEO-Hidden
        | Тамбовская область, Мордовский район, село Сосновка, ул. Трудовая, дом № 3
    include ../../sections/MTP__top/MTP__top
    include ../../sections/MTP__pictures/MTP__pictures