section.stationary__provide
    .container
        h2
            | Мы обеспечиваем
        .stationary__provide__cards
            .stationary__provide__card
                | Проживание в отделениях сестринского ухода
            .stationary__provide__card
                | Круглосуточный уход
            .stationary__provide__card
                | 5-ти разовое питание
            .stationary__provide__card
                | Досуговые мероприяти
            .stationary__provide__card
                | Поддерживающий уход и процедуры