section.news__MM
    .container
        h2
            |  СМИ о нас
        .news__MM__swiper-holder
            .news__MM__swiper.swiper
                .swiper-wrapper
                    .swiper-slide.active
                        span
                            | 2014
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2015
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2016
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2017
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2018
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2019
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2020
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2021
                        +sourceImg('plenka')
                    .swiper-slide
                        span
                            | 2022
                        +sourceImg('plenka')
            .news__MM__swiper-button-prev.swiper-button
                +sourceImg('Polygon9arrows')
            .news__MM__swiper-button-next.swiper-button
                +sourceImg('Polygon9arrows-1')
        .news__MM__swiper-contents
            .news__MM__swiper-content.active
                p.M-dotedText
                    | 13.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов
            .news__MM__swiper-content
                p.M-dotedText
                    | 2213.11.2017 - Всё больше тамбовчан спешат «Поделиться едой и добротой» - информирует телеканал ВестиТамбов