.helpNow__section__content-3
    p.M-dotedText
        | Волонтёр – это человек, который добровольно и безвозмездно делает что-то для людей, нуждающихся в помощи.
    p.simpleText
        | Дело в том, что не только профессионализм и добросовестное отношение сотрудников к своей работе делают отделение сестринского ухода комфортным для одиноких пожилых людей и инвалидов, но и элементарное тепло и забота, живое общение, участие. И в этом бабушкам и дедушкам помогают наши волонтёры!
        | <br>
        | Вы тоже можете стать волонтёром Центра помощи «ОПЕКА»!
    p.titleText
        |Ищем волонтеров для следующих направлений своей деятельности:
    p.M-dotedText
        | Участие в поездках к бабушкам и дедушкам.
    p.simpleText
        |Они очень ждут нас! Живого общения, немного внимания, тепла и заботы. Приветствуется наличие творческих способностей, но не является обязательным.
    p.M-dotedText
        |Участие в благотворительных акциях «АНО «ОПЕКА», спортивных турнирах, ярмарках, мастер-классах.
    p.simpleText
        |Вы фотограф или оператор, любите создавать шедевры, у вас есть своя камера, желание сделать что-то значимое? Мы будем очень рады Вам. Помощь фотографа и оператора необходима нам на праздниках в стационарах, на благотворительных акциях, в подготовке социальных роликов.
    p.M-dotedText
        |Распространение информационных материалов
    p.M-dotedText
        | Помощь в организации и проведении конференции