.helpNow__section__content-3{
  .M-dotedText{
    font-family: 'Jost', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
    margin-top:30px;
    margin-bottom: 20px;
  }
  .simpleText{
    font-family: 'Jost',serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
  }
  .titleText{
    font-family: 'Jost',serif;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;

    color: #000000;
  }
}