section.stationary__forRegistration
    .container
        h2
            | Для оформления вам необходимо:
        p.stationary__forRegistration__text
            | Решение о предоставлении социальных услуг в стационарной форме социального обслуживания принимается на основании следующих документов:
            | <br><br>
            | 1) документ, удостоверяющий личность получателя социальных услуг и представителя (при обращении представителя);
            | <br><br>
            | 2) документ, подтверждающий полномочия представителя (при обращении представителя);
            | <br><br>
            | 3) документ, подтверждающий место жительства и (или) пребывания, фактического проживания получателя социальных услуг и представителя (при обращении представителя);
            | <br><br>
            | 4) документы (сведения), подтверждающие наличие у получателя социальных услуг обстоятельств, которые ухудшают или могут ухудшить условия его жизнедеятельности, послуживших основанием для признания гражданина нуждающимся в социальных услугах в стационарной форме социального обслуживания
            | <br><br>
            | 5) заключение уполномоченной медицинской организации об отсутствии медицинских противопоказаний для получения социальных услуг в стационарной форме социального обслуживания, перечень которых утверждается в соответствии с частью 3 статьи 18 Федерального закона;
            | <br><br>
            | 6) документы об условиях проживания получателя социальных услуг, доходах получателя социальных услуг и членов его семьи (при наличии), принадлежащем ему (им) имуществе, необходимые для определения среднедушевого дохода для предоставления социальных услуг бесплатно;?
            | <br><br>
            | 7) индивидуальная программа (при наличии действующей индивидуальной программы);
            | <br><br>
            | 8) иные документы, необходимые для предоставления социальных услуг в стационарной форме социального обслуживания, установленные в соответствии с порядком предоставления социальных услуг поставщиками социальных услуг, утверждаемым согласно пункту 10 статьи 8 Федерального закона.
