.stationary__forRegistration{
  &__text{
    font-family: 'Jost', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;

    color: #000000;
    margin-left: 47px;

  }
}